/* Definering av variabler */
:root {
  --primary-color: #656565;
  --secondary-color: #946b78;
  --accent-color: #000000;
  --background-color: rgb(26, 26, 29);
  --text-color: #ffffff;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS stil under her */

body {
  display: grid;
  grid-template-rows: 10% auto 10%;
  height: 100vh;
}

button{
  color: var(--text-color);
}

header {
  background-color: var(--accent-color);
  align-content: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--text-color);
  box-shadow: 0px 20px 40px var(--accent-color);
  z-index: 1;
}

header .logo-img {
  width: 25%;
  padding: 10px;
  display: block;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  width: 40%;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  font-size: 2rem;
}

header nav ul li {
  position: relative;
}

header nav ul li a {
  display: block;
}

header nav ul li .dropdown-content {
  display: none;
  position: absolute;
    background-color: var(--background-color);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 1;
  white-space: nowrap;
}

header nav ul li .dropdown-content a {
  padding: 10px 15px;
  display: block;
  color: var(--text-color);
}

header nav ul li .dropdown-content a:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

header nav ul li:hover .dropdown-content {
  display: block;
}

main {
  background-color: var(--background-color);
  overflow-y: auto;
  color: var(--text-color);
}

main .form-wrapper{
  align-content: center;
  text-align: center;
  height: 100%;
}

footer {
  background-color: var(--background-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  align-content: center;
  text-align: center;
}
