<!DOCTYPE html>
<html lang="nb">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NexaTech</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link
      rel="icon"
      href="/img/nexatech/Center-darkmode.svg"
      type="image/svg+xml"
    />
  </head>
  <body>
    <header>
      <a href="/" class="logo-img">
        <img
          src="/img/nexatech/logo-darkmode.svg"
          alt="NexaTech Logo"
        />
      </a>
      <nav>
        <ul>
          <li class="dropdown">
            <a class="dropbtn">Om oss</a>
            <div class="dropdown-content">
              <a href="/hvem-er-vi">Hvem er vi?</a>
              <a href="/ansatte">Ansatte</a>
              <a href="/kunder">Kunder</a>
            </div>
          </li>

          <li class="dropdown">
            <a class="dropbtn">Produkter</a>
            <div class="dropdown-content">
              <a href="/nexachat">NexaChat</a>
              <a href="/support">It-støtte</a>
              <a href="/skibbidi">Skibbidi</a>
            </div>
          </li>

          <li class="dropdown">
            <a class="dropbtn">Bruker</a>
            <div class="dropdown-content">
              <a href="/login">Logg på</a>
              <a href="/ny-bruker">Ny bruker</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <main style="align-content: center; text-align: center; padding: 5%;">
    <p style="font-size: 4rem;">
        Her kommer det snart spennende informasjon om hvem vi er! Vi er i ferd med å utarbeide en omfattende presentasjon av vår historie, våre verdier og hva som driver oss fremover. Vårt team jobber dedikert for å skape løsninger som virkelig gjør en forskjell, og vi ønsker å gi deg et innblikk i vår visjon og hvordan vi arbeider. Denne siden vil snart gi deg all den innsikten du trenger for å forstå hvem vi er og hva vi står for. Vi setter stor pris på din interesse og tålmodighet mens vi forbereder dette. Følg med – mer kommer veldig snart!
    </p>
</main>

    <footer>NexaTech ©️ 2025</footer>
  </body>
</html>
