<!DOCTYPE html>
<html lang="nb">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NexaTech</title>
        <link rel="stylesheet" href="/style/style.css" />
        <link rel="icon" href="/img/nexatech/Center-darkmode.svg" type="image/svg+xml" />
    </head>
    <body>
        <header>
            <a href="/" class="logo-img">
                <img src="/img/nexatech/logo-darkmode.svg" alt="NexaTech Logo" />
            </a>
            <nav>
                <ul>
                    <li class="dropdown">
                        <a class="dropbtn">Om oss</a>
                        <div class="dropdown-content">
                            <a href="/hvem-er-vi">Hvem er vi?</a>
                            <a href="/ansatte">Ansatte</a>
                            <a href="/kunder">Kunder</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a class="dropbtn">Produkter</a>
                        <div class="dropdown-content">
                            <a href="/nexachat">NexaChat</a>
                            <a href="/support">It-støtte</a>
                            <a href="/skibbidi">Skibbidi</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a class="dropbtn">Bruker</a>
                        <div class="dropdown-content">
                            <a href="/login">Logg på</a>
                            <a href="/ny-bruker">Ny bruker</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <p>
                Her kommer det snart en dedikert side for våre kunder! Vi jobber med å samle informasjon som viser hvordan vi støtter våre kunder med
                skreddersydde løsninger og pålitelig service. Vårt mål er å bygge sterke og langsiktige relasjoner som gir verdi og bidrar til suksess
                for alle vi samarbeider med. Snart vil du finne en oversikt over hva vi tilbyr, eksempler på vellykkede samarbeid og hvordan vi kan
                hjelpe deg med å nå dine mål. Takk for at du gir oss tid til å gjøre denne siden komplett – vi gleder oss til å vise deg hva vi kan!
            </p>
        </main>

        <footer>NexaTech ©️ 2025</footer>
    </body>
</html>
