<!DOCTYPE html>
<html lang="nb">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NexaTech</title>
        <link rel="stylesheet" href="/style/style.css" />
        <link rel="icon" href="/img/nexatech/Center-darkmode.svg" type="image/svg+xml" />
    </head>
    <body>
        <header>
            <a href="/" class="logo-img">
                <img src="/img/nexatech/logo-darkmode.svg" alt="NexaTech Logo" />
            </a>
            <nav>
                <ul>
                    <li class="dropdown">
                        <a class="dropbtn">Om oss</a>
                        <div class="dropdown-content">
                            <a href="/hvem-er-vi">Hvem er vi?</a>
                            <a href="/ansatte">Ansatte</a>
                            <a href="/kunder">Kunder</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a class="dropbtn">Produkter</a>
                        <div class="dropdown-content">
                            <a href="/nexachat">NexaChat</a>
                            <a href="/support">It-støtte</a>
                            <a href="/skibbidi">Skibbidi</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a class="dropbtn">Bruker</a>
                        <div class="dropdown-content">
                            <a href="/login">Logg på</a>
                            <a href="/ny-bruker">Ny bruker</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <main style="align-content: center; text-align: center">
            <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=KCteE4NqEQkmx6du&autoplay=1"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
            ></iframe>
        </main>
        <footer>NexaTech ©️ 2025</footer>
    </body>
</html>
